body {
  margin: 0;
}
/* ############################## HEADER ######################*/

/* Background/Container for heading */
.ContainerHead {
  background-image: url(/img/back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-bottom: 100px;
  margin: 0;
}

/* Top of the header */
.heading {
  font-family: "Roboto", sans-serif;
}
.head-top-main {
  margin: 0;
}
.head-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: white;
}

.right-link {
  display: flex;
  gap: 26px;
  font-family: "Inconsolata", monospace;
}

li {
  list-style-type: none;
  text-decoration: none;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: white;
}
a:hover,
a:active {
  color: #c9843a;
  transition: all 0.5s;
}
/* Log in message

.log-message {
  font-size: 18px;
}

/* LOGIN FIELDS: */

.head-top {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: white;
  font-family: "Inconsolata", monospace;
}

.login {
  display: flex;
  gap: 30px;
}
.input-cred {
  width: 100px;
  font-size: 12px;

  color: white;
  background-color: #362b25;

  border: 1px solid;
  border-radius: 7px;
  font-family: "Inconsolata", monospace;
}
.input-cred:focus {
  background-color: white;
  color: #2e3233;
  border: 1px solid #2e3233;

  transition: all 0.6s;
}

.submit-form {
  width: 55px;
  font-size: 11px;
  color: white;
  font-family: "Inconsolata", monospace;

  border: 1px solid;
  border-radius: 7px;
  background-color: #362b25;
}
.submit-form:hover {
  border: 1px solid #2e3233;
  background-color: white;
  color: #c9843a;

  transition: all 0.5s;
}

/* ############################## BODY ######################*/

/*MODAL DESIGN SIGN IN:  */

.sign-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  max-width: 80vw;

  display: flex;
  flex-direction: column;
  margin: auto;

  background-color: #2e3233;
}

.top-modal {
  display: flex;
  justify-content: space-around;
}
/* ############################## FOOTER     ######################*/
/* FONTS:

font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

*/
